@font-face {
  font-family: "Bag";
  src: url("/fonts/AkzidenzGroteskBE.ttf");
}

/* line 10, views/stylesheets/screen.sass */
body {
  background-color: #333333;
  font-family: "Bag";
}

/* line 14, views/stylesheets/screen.sass */
h1 {
  color: white;
  font-family: "Bag";
}

/* line 18, views/stylesheets/screen.sass */
a {
  font-size: 24px;
  color: white;
  font-family: "Bag";
}
/* line 22, views/stylesheets/screen.sass */
a:hover {
  text-decoration: none;
}

/* line 25, views/stylesheets/screen.sass */
.skills {
  font-size: 14px;
  color: white;
  font-family: "Bag";
}

/* line 30, views/stylesheets/screen.sass */
.social {
  margin: 20px 0px 0px -10px;
}

/* line 33, views/stylesheets/screen.sass */
.navbar-inner {
  background-color: #333333;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border: none;
}

/* line 40, views/stylesheets/screen.sass */
.logo {
  width: auto;
  max-height: 200px;
}

/* line 44, views/stylesheets/screen.sass */
.home {
  color: white;
  font-family: "Bag";
  font-size: 20px;
  margin-top: 10px;
}

/* line 50, views/stylesheets/screen.sass */
.home-logo {
  margin: 5px;
  max-width: 30px;
  height: auto;
}

/* line 55, views/stylesheets/screen.sass */
.top {
  margin-top: 40px;
}
